          <div class="frosted_background frosted_texture blog_snippet">
            <div class="snippet_image">
              <img src="{{ article.data.featured_image }}" alt="{{ article.data.title }}" class="blog_snippet__image">
            </div>
            <div class="snippet__content">
              <h2 class="blog_snippet_title"><a href="{{article.url}}" >{{article.data.title }}</a></h2>
              <p class="content_type">Type: <b class="type">{{ article.data.type}}</b></p>
              <p  class="blog_snippet_meta">by <span>{{ article.data.author }}</span> on <span>{{ article.data.date | postDate }}</span></p>
              <p class="blog_snippet_body">{{ article.data.description }}</p>
              <a href="{{ article.url }}" class="button frosted_background frosted_texture">Continue Reading</a>
            </div>
          </div>