<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description}}"/>
    <link rel="alternate" type="application/atom+xml" title="Tech Informal" href="/atom.xml" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <script type="module" src="/assets/firebase.js"></script>
    <script type="module" src="/assets/auth.js"></script>
    <script type="module" src="/assets/comments.js"></script>
    <script type="module" src="/assets/js/likes.js"></script>
    <script type="module" src="/assets/js/main.js"></script>
    <script type="module" src="/assets/js/sync-content.js"></script>
    <link rel="stylesheet" href="/assets/css/techinformal.css">
    <link rel="stylesheet" href="/assets/css/mod_tools.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- One Signal -->
     <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
     <script src="/onesignal.js"></script>
<!-- Clarity tracking code for https://tech-informal.web.app/ -->
    <script>
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "s0vna5297w");
    </script>
  </head>
<body>
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
      {% include "header.njk" %}
    <div class="frosted_background main_container frosted_texture">
      <main>
      {{ content | safe }}
      </main>
        <script src="/assets/js/hamburger_menu.js"></script>
    </div>
    {% include "bottom_navigation.njk" %}
</body>
</html>