<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description}}"/>
    <link rel="alternate" type="application/atom+xml" title="Tech Informal" href="/atom.xml" />
    <title>{{ title }}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/techinformal.css">
    <script src="/assets/js/mouse_cursor_gradient_tracking.js"></script>
  </head>
<body>
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
    {% include "header.njk" %}
    <main>
    {{ content | safe }}
    </main>
    {% include "bottom_navigation.njk" %}
  <script type="module" src="/assets/firebase.js"></script>
  <script src="/assets/js/hamburger_menu.js"></script>
</body>
</html>