<div  class="header frosted_background frosted_texture">
  <div class="name "><a href="/">Tech Informal</a></div>
  <div class="header_embedded_navigation">
      <div class="buttons"><a href="/">Home</a></div>
      <div class="buttons "><a href="/blog">Blog</a></div>
      <div class="buttons"><a href="/search/">Search</a></div>
  </div>
</div>
  <div id="searchbox"></div>
<div id="hits"></div>