.main-article{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    border-radius: 5px;
    background: var(--frosted_secondary);
    color: var(--white);
    margin-top: 5%;
    margin-bottom: 10%;
}
.main-article_figure {
    display: flex;
    justify-content: center;
    align-items: center; /* optional: for vertical centering */
}

.main-article_figure img {
    display: block;
    /* Remove justify-content here, it's not valid for img */
}
.article-title{
    color: var(--white);
}