.window{
    position: fixed;
    display: flex;
    width: 95%;
    max-width: 95%;
    height: 80%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: var(--frosted_secondary);
    z-index: 500;
    border-radius: 5px;
    flex-direction: column;
    background: var(--frosted_secondary);
    overflow: scroll;
}
.title_bar{
    display: flex;
    width: 100%;
    height: fit-content;
    border-bottom: solid 2px var(--frosted_white);
    border-radius: inherit;
}
.window p a{
    text-decoration: underline;
    color: blue;
}
.close_button{
    background: red;
    border-radius: inherit;
    text-align: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin-right: 0%;
    margin-left: auto;
}
.title_bar a:link{
    color: var(--white);
}
.window .main_content{
    display: flex;
    overflow: auto;
    flex-direction: column;
}
.window_box{
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
    border: solid 2px var(--white);
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
}
.window_box_container{
    background: var(--frosted_secondary);
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 5px;
    margin-bottom: 15px;
}
.window_box_container a:visited{
    color: var(--white);
}
.window h3{
    margin-left: 5%;
    color: var(--white);
}
.window_box:hover{
    background: var(--frosted_primary);
    transition: all 0.3s ease-in-out;
    color: var(--primary);
}
.window_box .left{
    margin-left: 0%;
    margin-right: auto;
    display: flex;
}
.window_box .right{
    display: flex;
}
.window .button{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
/* Windows */
/* About */
#About{
    display: none;
    transition: all 0.3s ease;
    color: var(--white);
}
#About video{
    display: block;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 100vh;
}
.window_header{
    text-align: center;
    font-size: 32px;
}
#About:target{
    display: flex;
    transition: all 0.3s ease;
}
/* Settings */
#Settings{
    display: none;
}
#Settings:target{
    display: flex;
}
/* Search */
#search{
    display: none;
}
#search:target{
    display: flex;
}
/* Notifications */
#tab-notifications:checked ~ #page-notifications{
  display: flex;
  flex-direction: column;
}
/* login */
#login{
    display: none;
}
#login:target{
    display: flex;
}
#login input{
    background: var(--frosted_secondary);
    outline: none;
    color: var(--white);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    border: none;
    outline: none;
}
#login input::placeholder{
    color: var(--frosted_white);
}
