.profile-picture-container img{
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  object-fit: cover;
}
.lios-card{
    background: var(--frosted_white);
}
.main-container.channels-page .lios-card:first-child{
  width: 90%;
  justify-self: center;
}
.channel-meta{
    justify-self: center;
}
.newPost{
    display: flex;
    justify-self: center;
}
.creating-on-name{
  text-align: center;
}