:root{
    --lios-button-background:var(--primary);
    --lios-button-on-hover-background:var(--secondary);    
    --lios-action-button-background: var(--primary);
    --lios-action-button-box-shadow: var(--secondary);
    --lios-action-button-box-shadow: var(--gochujang-red);
}
.lios-window-container{
    background: var(--frosted_white);
}
.lios-window-close{
    background: var(--primary);
}
.lios-window-card{
    background: var(--frosted_white);
}