:root {
  background: repeating-linear-gradient(var(--secondary), var(--black) 100px);
  background-size: 100%;
}
.main-container{
  border-radius: 5px;
  margin-top: 20px;
}
.post-tag{
  display: inline-flex;
  font-size: 14px;
  text-align: center;
  background: var(--primary);
  border-radius: 100vh;
  padding: 5px;
}