:root {
  background: repeating-linear-gradient(var(--secondary), var(--black) 100px);
  background-size: 100%;
  scroll-behavior: smooth;
}
.main-container{
  border-radius: 5px;
  margin-top: 20px;
  display: none;
}
.post-tag{
  display: inline-flex;
  font-size: 14px;
  text-align: center;
  background: var(--primary);
  border-radius: 100vh;
  padding: 5px;
}
.lios-nav-title{
  cursor: pointer;
}
.nav-sidebar{
  display: flex;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.nav-sidebar:hover{
  color: var(--primary);
  transition: all 0.4s ease-in-out;
}
.nav-sidebar svg{
  height: 28px;
  width: 28px;
  padding: 5px;
}