video.lios-nav-title {
    width: 45px;
    height: 45px;
    border-radius: 100vh;
}
.lios-header-nav{
    background: var(--frosted_white);
    z-index: 5;
}
.lios-nav-contents .profile-picture-container,.nav-profile-picture{
    width: 45px;
    height: 45px;
    border-radius: 100vh;    
    cursor: pointer;
}
.profile-picture-dialogue{
    display: flex;
    position: fixed;
    top: 12%;
    right: 5%;
    z-index: 10;
}
/* Bottom Navigation */

.navigation_container_bottom {
    background: var(--frosted_white);
    width: max-content;
    justify-self: center;
    justify-items: center;
    position: sticky;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.navigation-icon svg,.navigation-icon img{
    width: 35px;
    height: 35px;
}
.navigation-icon img{
    border-radius: 100vh;
}
.navigation_buttons{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 12px;
    transition: all 0.2s ease-in-out;
}
.navigation_buttons:hover{
    color: var(--primary);
    background: var(--frosted_white);
    transition: all 0.2s ease-in-out;
}