.view-post{
  width: 100%;
  height: 100%;
  background: var(--frosted_white);
}
.post-container {
  display: none;
  background: var(--frosted_white);
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  line-height: 1.8;
  flex-direction: column;
}
.post-body img {
  max-width: 90%;
  justify-self: center;
  display: flex;
  align-items: center;
  max-height: 500px;
}
.channel-info {
  height: max-content;
  width: max-content;
  display: flex;
  margin-top: 15px;
}
.channel-info span {
  display: inline-flex;
  align-self: center;
}
.channel-info span:first-child {
  height: 50px;
  width: 50px;
  border-radius: 100vh;
  background: var(--primary);
}
.channel-logo {
  height: inherit;
  width: inherit;
  border-radius: 100vh;
  object-fit: cover;
  cursor: pointer;
}
.channel-name {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  color: var(--black);
  text-decoration: none;
}
.post-comment {
  background: var(--frosted_white);
  --padding: 12px;
  padding: var(--padding);
  border-radius: 5px;
  margin-top: 20px;
}
/* For screens less than 1400px */
@media (max-width: 1400px) {
  .post-container {
    max-width: 100%;
  }
  .meta-container{
    max-width: calc(100% - 2 * var(--padding));
  }
  .post-comment {
    width: calc(100% - 2 * var(--padding));
  }
}
/* For screens more than 1400px */
@media (min-width: 1401px) {
  .post-container {
    width: 80%;
    max-width: 1000px;
  }
  .meta-container{
    max-width: 1000px;
  }
  .post-comment {
    width: 80%;
    max-width: 1000px;
  }
}
/* Reactions */

.navigation_buttons.liked svg,.navigation_buttons.disliked svg{
  fill:var(--primary);
  color: var(--black);
}
.meta-container{
  background: var(--frosted_white);
  display: none;
  flex-direction: column;
  flex: 1;
  --padding:12px;
  padding: var(--padding);
  border-radius: 5px;
  margin-bottom: 10px;
}