---
title: "Blog"
layout: "base.njk"
---

<div data-pagefind-ignore class="section container">
  <h1 class="section-title">Recent Blogs</h1>
  <div role="list" class="articles__list flow">
    <div class="blog_snippet_container">
      {% for post in collections.post %}
        {% include "blog-snippet.njk" %}
      {% endfor %}
    </div>
  </div>
</div>
