---
title: Home
layout: 'base.njk'
---
  <section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured Blogs</h2>
    <div  class="blog_snippet_container">
      {% for post in collections.featured %}
        {% include "article-snippet.njk" %}
      {% endfor %}
    </div>
  </div>
</section> 