---
title: Search
layout: "base.njk"
---
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
 <div class="inblog_featured_content_container frosted_background">
  <div class="section_title">Featured Blogs</div>
  <div class="inblog_featured_content">
     {% for post in collections.featured | shuffle | limit(10) %}
       {% include "inblog_featured_blog.njk" %}
     {% endfor %}
     </div>
  </div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script> 
